@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=PT+Sans&family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --bg-color-main: #090a0f;
  --bg-color-2: #090a0faa;
  --bg-color-3: #282c3cee;
  --text-color-main: #fff;
  --text-color-grey: #dcdaff90;
  --heading-color-name: rgb(221, 254, 144);
  --heading-color-main: #c792e9;
  --heading-color-2: #6bcfe4;
  --nav-bg-color: #ffffff06;
  --nav-height: 56px;
  --doc-height: 100%;
  --scrollbar-width: 8px;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100dvh;
  background: var(--bg-color-main);
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  background-color: #ffffff00;
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff99;
  border-radius: 24px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  padding-inline: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: var(--text-color-main);
  animation-fill-mode: both;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Planet */
.planet {
  animation: slideInPlanet 0.6s ease-out forwards;
  transform-origin: bottom center;
  pointer-events: none;
  position: fixed;
  right: 15vw;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  /* background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 81%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 0.14) 100%
    ),
    radial-gradient(
      49.87% 49.87% at 49.87% 50.13%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.245) 100%
    ),
    radial-gradient(
      100% 100% at 0% 50.13%,
      #ee84ff 0%,
      #ca74ff 41.8%,
      #5dd2b6 100%
    );
  box-shadow: 0px 0px 48px 64px rgba(198, 115, 249, 0.25),
    0px 0px 48px 20px rgba(255, 255, 255, 0.4),
    0px 0px 48px 24px rgba(21, 255, 199, 0.28);
    */
  /* Ellipse 20 */
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 81%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 0.14) 100%
    ),
    radial-gradient(
      49.87% 49.87% at 49.87% 50.13%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.245) 100%
    ),
    radial-gradient(
        63.95% 63.95% at 78.84% 36.05%,
        rgba(93, 210, 182, 0.75) 32.5%,
        rgba(93, 210, 182, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        69.74% 69.74% at 34.87% 97.4%,
        rgba(232, 255, 165, 0.6) 38%,
        rgba(232, 255, 165, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ca74ff;
  box-shadow: 0px 0px 48px 64px rgba(198, 115, 249, 0.25),
    0px 0px 48px 20px rgba(255, 255, 255, 0.4),
    0px 0px 48px 24px rgba(21, 255, 199, 0.28);
}

@keyframes slideInPlanet {
  0% {
    transform: translate3d(200px, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, 0) skewX(10deg);
  }
  80% {
    transform: skewX(-2deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

a {
  font-family: 'DM Sans';
}

/* coding language */
h3 {
  color: var(--heading-color-2);
  font-weight: 500;
  font-size: 12px;
  text-shadow: 0 0 2px var(--heading-color-2);
}

h5 {
  color: var(--text-color-main);
  font-style: normal;
  font-weight: 00;
  font-size: 20px;
  letter-spacing: 0.05em;
}

table {
  width: 100%;
}

td {
  text-align: start;
  font-size: 10px;
  padding-block: 7px;
  padding-inline-start: 12px;
}

th {
  text-align: start;
  font-size: 12px;
  padding-inline-start: 12px;
  padding-block-start: 5px;
}

th.rank {
  width: 5%;
}

th.name {
  width: 45%;
}

th.score {
  width: 20%;
}

th.date {
  width: 25%;
}

tr:hover {
  animation: glow 0.7s linear infinite alternate;
  background-color: #282c3c;
}

tr,
tbody tr td {
  transition: all 0.25s ease;
}

tbody tr:hover > td {
  color: var(--heading-color-main);
}

form {
  padding-inline: 20px;
  font-size: 14px;
}

input[type='text'] {
  font-size: 14px;
  margin: 8px;
  padding-inline: 3px;
  width: 80px;
  height: 24px;
  border-radius: 3px;
}

input[type='text']:focus {
  outline: none;
}

.invalid-name-warning {
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}

/* chrome */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-block-start: -5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-color-main);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* firefox */
input[type='range']::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-color-main);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* IE */
input[type='range']::-ms-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 6px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-color-main);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* chrome */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--heading-color-main);
  border-radius: 3px;
}
/* firefox */
input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--heading-color-main);
  border-radius: 3px;
}

/* IE */
input[type='range']::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--heading-color-main);
  border-radius: 3px;
}

canvas {
  background-color: var(--bg-color-2);
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.snake-container {
  font-weight: 500;
}

.snake-top-bar,
.snake-bottom-bar {
  padding: 12px;
  background-color: var(--bg-color-2);
  border: 0.5px solid var(--text-color-grey);
}

.snake-top-bar {
  border-radius: 5px 5px 0px 0px;
}

.snake-bottom-bar {
  border-radius: 0px 0px 5px 5px;
  height: 40px;
  display: flex;
  align-items: center;
}

.canvas-container-inner {
  background-color: var(--bg-color-2);
}

.game-options-text-container {
  width: 100%;
  height: 100%;
  border-left: 0.5px solid var(--text-color-grey);
  border-right: 0.5px solid var(--text-color-grey);
}

.game-options {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-options a,
.pink-on-hover a,
.main-menu a {
  transition: 0.2s ease;
}

.game-options a {
  display: block;
  width: 100%;
  text-align: center;
  padding-block: 5px;
}

.game-options a span {
  text-align: center;
}

.instructions {
  font-size: 14px;
  line-height: 16px;
}

.prevent-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

.section-title h4 {
  font-weight: 500;
}

.section-title h4::before {
  display: inline-flex;
  position: relative;
  align-items: center;
  align-self: center;
  content: '';
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-inline-end: 15px;
  width: 80px;
  bottom: 0.25em;
}

.divider {
  display: block;
  margin-block-start: 0px;
  align-self: center;
  content: '';
  width: 100%;
  height: 20px;
  border-bottom: 0.5px solid var(--text-color-grey);
  transform: translateY(-50%);
}

.section-fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  top: var(--nav-height);
  width: 100%;
  height: calc(100dvh - var(--nav-height));
}

.scroll-window,
.scroll-window-full {
  width: 100%;
  padding-block-start: 20vh;
}

.scroll-window {
  min-height: calc(70vh - var(--nav-height));
}

.scroll-window-full {
  min-height: calc(100vh - var(--nav-height));
}

.section-title {
  flex-flow: row nowrap;
  color: var(--text-color-grey);
  padding-block-end: 2em;
  width: 100%;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--heading-color-main);
}

.link:visited {
  color: var(--heading-color-2);
}

.nav-area {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  transform: translateY(0);
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: var(--bg-color-2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
  display: flex;
  gap: 4em;
  padding-block: 4px;
  padding-inline: 50px;
  height: 100%;
}

.navbar a,
.navbar .nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 0.3em;
  height: 100%;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}

.navbar > a:hover,
.navbar > .nav-item:hover > a,
.navbar-dropdown > a:hover,
.game-options a:hover,
.main-menu a:hover,
.pink-on-hover a:hover {
  color: var(--heading-color-main);
  animation: glow 0.7s linear infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #902cce;
  }
  to {
    text-shadow: 0 0 10px #902cce, 0 0 30px #902cce;
  }
}

.nav-fill {
  display: flex;
  height: var(--nav-height);
}

/* navbar dropdown menu */
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-left: 0.38em;
  margin-top: -0.25em;
  transition-duration: 0.2s;
}

.navbar-dropdown {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 92%;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: var(--bg-color-3);
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
  transition-duration: 0.1s;
  transform: scale(1);
  padding: 4px;
}

.navbar-dropdown a {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 2em;
  font-size: 14px;
  border-radius: 6px;
  background-color: none;
}

.navbar-dropdown a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-item > .navbar-dropdown {
  animation: fadeOut;
  transform: scale(0.7);
  opacity: 0;
  visibility: hidden;
}

.nav-item:focus-within > .navbar-dropdown,
.nav-item:hover > .navbar-dropdown {
  animation: fadeIn 0.1s;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.nav-item:hover > .arrow {
  transform: rotate(-225deg);
  margin-top: 4px;
  color: var(--heading-color-main);
  animation: glow 0.7s linear infinite alternate;
}

/* projects */

.projects-list {
  width: auto;
  margin-block-start: 5px;
}

.projects-list a {
  color: var(--text-color-main);
  font-weight: 500;
  display: flex;
  min-height: 18px;
  width: 100%;
  opacity: 100%;
  margin-block: 4px;
  transition: ease-out 0.2s;
}

.projects-list a div {
  display: flex;
  padding-block: 1vh;
  padding-inline: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: ease-out 0.2s;
}

.projects-list a div span {
  display: block;
  text-align: center;
  white-space: nowrap;
}

.project-container {
  flex: 1;
}

.github-button {
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  color: var(--text-color-main);
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-inline: 10px;
  padding-block: 8px;
  max-height: 100%;
  width: 110px;
}

.github-button div {
  display: flex;
  flex-direction: row;
}

.github-logo {
  display: inline;
  height: 30px;
  width: auto;
}

.github-logo img {
  width: 100%;
  height: 100%;
}

.github-logo {
  transition: all ease 0.3s;
}

.github-logo:hover {
  transform: scale(1.4);
}

.header {
  height: 100px;
}

.max-w-49 {
  max-width: 49%;
}

.logo-container {
  height: 100%;
  width: 100%;
}

/* github, linkedin, instagram, mail */
.logo {
  height: 50px;
  width: 50px;
}

.flip-card-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 8vw;
}

.flip-card {
  background-color: transparent;
  height: 50px;
  width: 50px;
  margin-block-end: 24px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

@media (hover: hover) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

@media (hover: none) {
  .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-container {
    gap: 10vw;
  }
}

.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  perspective: 0;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  text-align: center;
  align-content: center;
  align-items: center;
}

.flip-card-front {
  position: absolute;
}

.flip-card-back {
  position: absolute;
  transform: rotateY(180deg);
}

footer {
  min-height: 160px;
  display: flex;
  padding-block-end: 30px;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes backdropFilterIn {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(6px);
  }
}

/* Transitions */
.fade-enter {
  opacity: 0;
  transform: scale(0);
}

.fade-enter-active {
  opacity: 1;
  animation: scaleIn 200ms ease;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  animation: scaleIn 200ms ease;
}

.intro-container {
  flex-flow: column nowrap;
  margin-left: 48px;
  margin-top: 48px;
  max-width: 50%;
}

/* narrow screens */
@media screen and (max-width: 992px) {
  body::-webkit-scrollbar {
    background: #ffffff00;
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  p,
  li {
    font-size: 16px;
  }

  .planet {
    width: 200px;
    height: 200px;
  }

  .nav-area {
    height: 3em;
    justify-content: center;
    width: 100%;
  }

  .navbar {
    gap: 1em;
    padding: 0;
    margin-inline: 2em;
  }

  .navbar .nav-item,
  .navbar a {
    font-size: 15px;
  }

  .intro-container {
    max-width: 100%;
  }

  .dropdown a {
    font-size: 10px;
  }

  .projects-list {
    max-width: 25%;
  }

  .projects-list a {
    font-size: 14px;
    width: auto;
  }

  .projects-list a div {
    justify-content: start;
    padding-inline-start: 7px;
  }

  .projects-list a div span {
    white-space: normal;
    text-align: start;
  }

  .scroll-window,
  .scroll-window-full {
    width: 100%;
    margin-inline: 8px;
  }

  .scroll-window {
    min-height: calc(88vh - var(--nav-height));
  }

  .snake-container {
    display: none;
  }

  .canvas-container {
    display: none;
  }

  footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .planet {
    width: 100px;
    height: 100px;
  }

  .navbar .nav-item,
  .navbar a {
    font-size: 12px;
  }
}

@keyframes animStar {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-bottom {
  opacity: 0;
  animation: slideBottom 400ms ease forwards;
}

@keyframes slideBottomNoFade {
  0% {
    transform: translateY(16px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-bottom-no-fade {
  animation: slideBottomNoFade 400ms ease forwards;
}

@keyframes blurIn {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}

.blur-in {
  animation: blurIn 400ms ease forwards;
}

@keyframes flowIn {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  50% {
    opacity: 1;
    transform: translate(0, -4px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.flowInText {
  white-space: pre;
  opacity: 0;
  animation: flowIn 0.8s ease forwards;
}

@keyframes navbarIn {
  0% {
    /* background-color: none;
    border-bottom: 1px solid #ffffff00;
    backdrop-filter: blur(0); */
    outline: none;
    opacity: 0;
  }
  100% {
    /* background-color: initial;
    border-bottom: initial;
    backdrop-filter: initial; */
    outline: initial;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-border::before {
  width: inherit;
  height: inherit;
  border: 1px solid;
  border-radius: 8px;
  border-image: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    1;
  animation: rotateBorderColors 4s linear infinite;
}

@keyframes rotateBorderColors {
  0% {
    border-image: linear-gradient(
        0deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
      )
      1;
  }
  100% {
    border-image: linear-gradient(
        360deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
      )
      1;
  }
}

/* #ring-outer {
  transform-origin: center;
  animation: rotate 48s linear infinite;
}

#ring-middle {
  transform-origin: center;
  animation: rotate 32s linear infinite reverse;
}

#ring-inner {
  transform-origin: center;
  animation: rotate 24s linear infinite;
} */
