@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=PT+Sans&family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --bg-color-main: #090a0f;
  --bg-color-2: #282c3c80;
  --bg-color-3: #282c3cee;
  --text-color-main: #fff;
  --text-color-grey: #dcdaff90;
  --heading-color-name: rgb(221, 254, 144);
  --heading-color-main: #c792e9;
  --heading-color-2: #6bcfe4;
  --nav-bg-color: #ffffff06;
  --nav-height: 70px;
  --doc-height: 100%;
}

html {
  position: absolute;
  z-index: -10000;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover;
  background: radial-gradient(circle at bottom, #1b2735 0%, #090a0f 100%) fixed
    center;
  background-attachment: fixed;
  /* height: 700px; */
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  position: absolute;
  z-index: -1001;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: var(--text-color-main);
  animation-fill-mode: both;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.space-bg {
  position: fixed;
  z-index: -1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at bottom, #1b2735 0%, #090a0f 100%);
}

@keyframes animStar {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

a {
  font-family: 'DM Sans';
}

/* project name */
h2 {
  color: var(--heading-color-main);
  font-weight: 500;
  font-size: 30px;
  text-transform: lowercase;
  letter-spacing: 0.08em;
  text-shadow: 0 0 10px #902cce;
}

/* coding language */
h3 {
  color: var(--heading-color-2);
  font-weight: 500;
  font-size: 12px;
  text-shadow: 0 0 2px var(--heading-color-2);
}

h5 {
  color: var(--text-color-main);
  font-style: normal;
  font-weight: 00;
  font-size: 20px;
  letter-spacing: 0.05em;
}

table {
  width: 100%;
}

td {
  text-align: start;
  font-size: 10px;
  padding-block: 7px;
  padding-inline-start: 12px;
}

th {
  text-align: start;
  font-size: 12px;
  padding-inline-start: 12px;
  padding-block-start: 5px;
}

th.rank {
  width: 5%;
}

th.name {
  width: 45%;
}

th.score {
  width: 20%;
}

th.date {
  width: 25%;
}

tr:hover {
  animation: glow 0.7s linear infinite alternate;
  background-color: #282c3c;
}

tr,
tbody tr td {
  transition: all 0.25s ease;
}

tbody tr:hover > td {
  color: var(--heading-color-main);
}

form {
  padding-inline: 20px;
  font-size: 14px;
}

input[type='text'] {
  font-size: 14px;
  margin: 8px;
  padding-inline: 3px;
  width: 80px;
  height: 24px;
  border-radius: 3px;
}

input[type='text']:focus {
  outline: none;
}

.invalid-name-warning {
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}

/* chrome */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-block-start: -5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-color-main);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* firefox */
input[type='range']::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-color-main);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* IE */
input[type='range']::-ms-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 6px;
  width: 16px;
  border-radius: 50%;
  background: var(--text-color-main);
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* chrome */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--heading-color-main);
  border-radius: 3px;
}
/* firefox */
input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--heading-color-main);
  border-radius: 3px;
}

/* IE */
input[type='range']::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--heading-color-main);
  border-radius: 3px;
}

canvas {
  background-color: var(--bg-color-2);
}

.snake-container {
  font-weight: 500;
}

.snake-top-bar,
.snake-bottom-bar {
  padding: 12px;
  background-color: var(--bg-color-2);
  border: 0.5px solid var(--text-color-grey);
}

.snake-top-bar {
  border-radius: 5px 5px 0px 0px;
}

.snake-bottom-bar {
  border-radius: 0px 0px 5px 5px;
  height: 40px;
  display: flex;
  align-items: center;
}

.canvas-container-inner {
  background-color: var(--bg-color-2);
}

.game-options-text-container {
  width: 100%;
  height: 100%;
  border-left: 0.5px solid var(--text-color-grey);
  border-right: 0.5px solid var(--text-color-grey);
}

.game-options {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-options a,
.pink-on-hover a,
.main-menu a {
  transition: 0.2s ease;
}

.game-options a {
  display: block;
  width: 100%;
  text-align: center;
  padding-block: 5px;
}

.game-options a span {
  text-align: center;
}

.instructions {
  font-size: 14px;
  line-height: 16px;
}

/* Transitions */
.fade-enter,
.fade-exit {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.prevent-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

.section-title h4 {
  font-weight: 500;
}

.section-title h4::before {
  display: inline-flex;
  position: relative;
  align-items: center;
  align-self: center;
  content: '';
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-inline-end: 15px;
  width: 80px;
  bottom: 0.25em;
}

.divider {
  display: block;
  margin-block-start: 0px;
  align-self: center;
  content: '';
  width: 100%;
  height: 20px;
  border-bottom: 0.5px solid var(--text-color-grey);
  transform: translateY(-50%);
}

.scroll-window,
.scroll-window-full {
  width: 100vw;
  padding-inline: 5vw;
}

.scroll-window {
  min-height: calc(90vh - var(--nav-height));
  padding-block-start: 16vh;
}

.scroll-window-full {
  min-height: calc(100vh - var(--nav-height));
}

.section-title {
  flex-flow: row nowrap;
  color: var(--text-color-grey);
  padding-block-end: 10vh;
  width: 100%;
}

.intro {
  max-width: 500px;
  margin-inline-end: 30px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--heading-color-main);
}

.link:visited {
  color: var(--heading-color-2);
}

.ul-indented {
  padding-block-end: 1em;
  padding-inline-start: 4em;
}

.ul-unindented {
  list-style-position: outside;
  padding-inline-start: 1em;
}

li {
  list-style-type: square;
}

.nav-area {
  position: fixed;
  width: 100vw;
  height: var(--nav-height);
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
  transform: translateY(0);
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
  display: flex;
  gap: 4em;
  padding-block: 4px;
  padding-inline: 50px;
  height: 100%;
}

.navbar a,
.navbar .nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 0.3em;
  height: 100%;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}

.navbar > a:hover,
.navbar > .nav-item:hover > a,
.navbar-dropdown > a:hover,
.game-options a:hover,
.main-menu a:hover,
.pink-on-hover a:hover {
  color: var(--heading-color-main);
  animation: glow 0.7s linear infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #902cce;
  }
  to {
    text-shadow: 0 0 10px #902cce, 0 0 30px #902cce;
  }
}

.nav-fill {
  display: flex;
  height: var(--nav-height);
}

/* navbar dropdown menu */
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-left: 0.38em;
  margin-top: -0.25em;
  transition-duration: 0.2s;
}

.navbar-dropdown {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 92%;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: var(--bg-color-3);
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
  transition-duration: 0.1s;
  transform: scale(1);
  padding: 4px;
}

.navbar-dropdown a {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 2em;
  font-size: 14px;
  border-radius: 6px;
}

.navbar-dropdown a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-item > .navbar-dropdown {
  animation: fadeOut;
  transform: scale(0.7);
  opacity: 0;
  visibility: hidden;
}

.nav-item:focus-within > .navbar-dropdown,
.nav-item:hover > .navbar-dropdown {
  animation: fadeIn 0.1s;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.nav-item:hover > .arrow {
  transform: rotate(-225deg);
  margin-top: 4px;
  color: var(--heading-color-main);
  animation: glow 0.7s linear infinite alternate;
}

/* projects */

.projects-list {
  width: auto;
  margin-block-start: 5px;
}

.projects-list a {
  color: var(--text-color-main);
  font-weight: 500;
  display: flex;
  min-height: 18px;
  width: 100%;
  opacity: 100%;
  margin-block: 4px;
  transition: ease-out 0.2s;
}

.projects-list a div {
  display: flex;
  padding-block: 1vh;
  padding-inline: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: ease-out 0.2s;
}

.projects-list a div span {
  display: block;
  text-align: center;
  white-space: nowrap;
}

.project-container {
  width: 65%;
}

.github-button {
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  color: var(--text-color-main);
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-inline: 10px;
  padding-block: 8px;
  max-height: 100%;
  width: 110px;
}

.github-button div {
  display: flex;
  flex-direction: row;
}

.github-logo {
  display: inline;
  height: 30px;
  width: auto;
}

.github-logo img {
  width: 100%;
  height: 100%;
}

.github-logo {
  transition: all ease 0.3s;
}

.github-logo:hover {
  transform: scale(1.4);
}

.header {
  height: 100px;
}

.max-w-49 {
  max-width: 49%;
}

.logo-container {
  height: 100%;
  width: 100%;
}

/* github, linkedin, instagram, mail */
.logo {
  height: 50px;
  width: 50px;
}

.flip-card-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 8vw;
}

.flip-card {
  background-color: transparent;
  height: 50px;
  width: 50px;
  margin-block-end: 24px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

@media (hover: hover) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

@media (hover: none) {
  .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-container {
    gap: 10vw;
  }
}

.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  perspective: 0;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  text-align: center;
  align-content: center;
  align-items: center;
}

.flip-card-front {
  position: absolute;
}

.flip-card-back {
  position: absolute;
  transform: rotateY(180deg);
}

footer {
  min-height: 160px;
  display: flex;
  padding-block-end: 30px;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  animation: fadeOut 0.5s;
  animation-fill-mode: both;
}

/* narrow screens */
@media screen and (max-width: 992px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  p,
  li {
    font-size: 16px;
  }

  .snake {
    display: none;
  }

  .nav-area {
    height: 3em;
    justify-content: center;
  }

  .navbar {
    gap: 1em;
    padding: 0;
    margin-inline: 2em;
  }

  .navbar .nav-item,
  .navbar a {
    font-size: 15px;
  }

  .dropdown a {
    font-size: 10px;
  }

  .projects-list {
    max-width: 25%;
  }

  .projects-list a {
    font-size: 14px;
    width: auto;
  }

  .projects-list a div {
    justify-content: start;
    padding-inline-start: 7px;
  }

  .projects-list a div span {
    white-space: normal;
    text-align: start;
  }

  .scroll-window,
  .scroll-window-full {
    padding-inline: 5vw;
  }

  .scroll-window {
    min-height: calc(88vh - var(--nav-height));
    /* min-height: 100vh; */
  }

  .snake-container {
    display: none;
  }

  .canvas-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    max-width: 100vw;
  }
  #home div {
    align-items: center;
  }
  .navbar .nav-item,
  .navbar a {
    font-size: 12px;
  }
}
